@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: url('images/Background.jpg') no-repeat fixed;
}

#Experiences a,
#Cursus a,
#Projets a{
    display: flex;
    text-decoration: none;
    color: #ccc8c8;
    margin-left: 5vw;
    margin-top: 2vh;
    border: #ccc8c8 solid 0.2vh;
    border-radius: 5vh;
    max-width: 5vw;
    max-height: 2.5vw;
    align-items: center;
    justify-content: center;
    padding: 1vh 1.5vw ;
    box-shadow: #ccc8c8 0px 0px 10px;
    background-color: rgb(59, 59, 59);
}

#Experiences a:hover,
#Cursus a:hover,
#Projets a:hover {
    color: green;
    transition: 0.3s;
    border: green solid 0.2vh;
    box-shadow: green 0px 0px 10px;
}

.Titre p{
    display: flex;
    justify-content: left;
    font-size: 5vh;
    font-weight: 700;
    color: #ccc8c8;
    margin-left: 5vw;
    text-decoration: underline;
}

/*Home__________________________________________________________________________________________________________________________________*/

#home {
    height: 100vh;
    width: 100%;
    background: #000000dd;
    position: relative;
    font-family: 'Roboto Slab', serif;
    display: grid;
    gap: 15vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    align-items: stretch;
}

.header {
    display: flex;
    height: 10vh;
    width: 100%;
    background: #000;
    box-shadow: green 0px 0px 10px;
}

.logo {
    top: 2vh;
    position: relative;
    margin-left: 3%;
    align-items: center;
}

.logo p {
    color: #ccc8c8;
    font-size: 4vh;
}

#bouton {
    position: absolute;
    top: 3vh;
    right: 5%;
    margin-right: 0vw;
    color: white;
    font-size: 2.5vh;
    font-family: 'Roboto Slab', serif;
}
#bouton a {
    text-decoration: none;
    color: #ccc8c8;
    padding: 2vw;
}
#bouton a:hover {
    color: green;
    border-radius: 5px;
    transition: 0.3s;
    text-shadow: #c6c6c6 0px 0px 10px;
}

.HomeContainer{
    display: grid;
    gap: 0px;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
    justify-content: flex-start;
    align-items: stretch;
}
.Photo img{
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 70%;
    height: 80%;
    object-fit: cover;
    display: block;
}

.HomeContainer .Presentation{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    align-items: stretch;
}

.Title{
    display: flex;
    justify-content: left;
    font-size: 5vh;
    font-weight: 700;
    color: #ccc8c8;
}
.Nom{
    display: flex;
    justify-content: left;
    font-size: 12vh;
    font-weight: 500;
    color: #ccc8c8;
    padding-bottom: 0%;
    margin-top: -9vh;
}
.Blabla{
    display: flex;
    justify-content: left;
    font-size: 2vh;
    font-weight: 300;
    color: #ccc8c8;
    padding-top: 0%;
    margin-top: -9vh;
}
.Link{
    gap: 2vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;    
    justify-content: left;
    color: #ccc8c8;
    font-size: 2.5vh;
    padding: 0%;
    margin-top: -5vh;
}
.Link a{
    text-decoration: none;
    color: #ccc8c8;
    padding: 0%;
    font-size: 2.5vh;
    align-items: center;
    display: inline-flex;
}
.Linkedin{
    max-height: 5.5vh;
    padding: 1vh 1.5vw ;
    background-color: rgb(59, 59, 59);
    border: #0A66C2 solid 0.3vh;
    border-radius: 5vh;
    box-shadow: #0A66C2 0px 0px 10px;
    justify-content: center;
    align-items: center;
}
.GitHub{
    max-height: 5.5vh;
    padding: 1vh 1.5vw ;
    background-color: rgb(59, 59, 59);
    border: rgb(19, 137, 19) solid 0.3vh;
    border-radius: 5vh;
    box-shadow: rgb(19, 137, 19) 0px 0px 10px;
    justify-content: center;
    align-items: center;
}
.CV{
    max-height: 5.5vh;
    padding: 1vh 1.5vw ;
    background-color: rgb(59, 59, 59);
    border: grey solid 0.3vh;
    border-radius: 5vh;
    box-shadow: grey 0px 0px 10px;
    justify-content: center;
    align-items: center;
}
.MECEN{
    max-height: 5.5vh;
    padding: 1vh 1.5vw ;
    background-color: rgb(59, 59, 59);
    border: #3F849B solid 0.3vh;
    border-radius: 5vh;
    box-shadow: #3F849B 0px 0px 10px;
    justify-content: center;
    align-items: center;
}



/*Projets_______________________________________________________________________________________________________________________________*/

#Projets {
    height: 100vh;
    width: 100%;
    background: #000000dd ;
    position: relative;
    font-family: 'Roboto Slab', serif;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    justify-content: flex-start;
    align-items: stretch;
}

.PR{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    justify-content: center;
    align-items: stretch;
    padding: 2vh 5vw;
    color: aliceblue;
}

.PL3{
    border: green solid 0.5vh;
    border-radius: 5vh;
}

.PM1{
    border: #6582cd solid 0.5vh;
    border-radius: 5vh;
}

.PM2{
    border: orange solid 0.5vh;
    border-radius: 5vh;
}

h1{
    padding: 2vh 2vw;
    font-size: 3vh;
}

#Projets .PR a {
    max-width: 5vw;
    max-height: 2.5vw;
    color: red;
}
/*Cursus_______________________________________________________________________________________________________________________________*/

#Cursus {
    height: 100vh;
    width: 100%;
    background: #000000dd;
    position: relative;
    font-family: 'Roboto Slab', serif;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    justify-content: flex-start;
    align-items: stretch;
}

.Cours{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    justify-content: center;
    align-items: stretch;
    padding: 2vh 5vw;
    color: white;
}

.Licence{
    border: rgb(128, 0, 53) solid 0.5vh;
    border-radius: 5vh;
}

.Master{
    border: orange solid 0.5vh;
    border-radius: 5vh;
}

.M1{
    border: green solid 0.5vh;
    border-radius: 5vh;
}
.M2{
    border: #6582cd solid 0.5vh;
    border-radius: 5vh;
} 
/*Experience_______________________________________________________________________________________________________________________________*/

#Experiences {
    height: 100vh;
    width: 100%;
    background: #000000dd;
    position: relative;
    font-family: 'Roboto Slab', serif;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    justify-content: flex-start;
    align-items: stretch;
}

.Exp{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
    justify-content: center;
    align-items: stretch;
    padding: 2vh 5vw;
    color: white;
}

.stage{
    border: green solid 0.5vh;
    border-radius: 5vh;
}

.job{
    border: #6582cd solid 0.5vh;
    border-radius: 5vh;
}